backups/workflows_20241219_175539.json
[{"createdAt":"2024-12-19T23:35:34.242Z","updatedAt":"2024-12-20T00:45:08.760Z","id":"HixtbVdDqmWbLxbZ","name":"Get Email Address","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[160,-20],"id":"62e0aec5-5460-46d9-bd63-b21606561846","name":"Execute Workflow Trigger"},{"parameters":{"operation":"getAll","limit":5,"fields":["names","emailAddresses","organizations"],"useQuery":true,"query":"={{ $json.query }}"},"type":"n8n-nodes-base.googleContacts","typeVersion":1,"position":[400,-20],"id":"e9ef8398-0130-4699-aafe-ab20f70e08a2","name":"Google Contacts","alwaysOutputData":true,"credentials":{"googleContactsOAuth2Api":{"id":"mnYyFSAN12yblsR1","name":"Google Contacts account"}}},{"parameters":{"assignments":{"assignments":[{"id":"742fed0c-22ea-4597-b3e7-043048f2044b","name":"Response","value":"={{ $json.emailAddresses }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,-20],"id":"9ddb143b-13ca-47e3-9426-5b2ec6dc5051","name":"Edit Fields"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"emailAddresses.undefined[0]","renameField":true,"outputFieldName":"emailAddresses"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[620,-20],"id":"7472b3cb-f711-4308-8581-e4ecfc4eff64","name":"Aggregate","executeOnce":false}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Google Contacts","type":"main","index":0}]]},"Google Contacts":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Execute Workflow Trigger":[{"json":{"query":"rick"}}]},"versionId":"15f84775-a3b1-4751-a8ca-8f1866281b54","triggerCount":0,"tags":[]},{"createdAt":"2024-12-19T11:28:15.208Z","updatedAt":"2024-12-19T15:36:07.669Z","id":"XHc6K7uVWlYoy0hE","name":"Primary Agent","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-160,-120],"id":"af35fde5-87b0-4be5-b957-c782764ad56a","name":"When chat message received","webhookId":"292df497-b160-41af-9645-d489cbc85ada"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[0,-120],"id":"5f3f5c4f-2367-44cd-ad81-c08a1bb8c744","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[60,100],"id":"2b069cc3-2356-4673-874d-82fd022ea118","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"e5angc6ACiMnSIA3","name":"Postgres account"}}},{"parameters":{"name":"Email_Agent","description":"Use this tool when you need so send or read emails","workflowId":{"__rl":true,"value":"M9BZbT0w3b8Mr1i0","mode":"list","cachedResultName":"Chat Workflow"}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[280,100],"id":"c70408e3-1840-488a-aeb5-77deb76ac1bc","name":"Email Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-100,100],"id":"e0235bc4-020a-4d35-9b58-3c426f9e6397","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zbN9gzA7Oqy8J6LT","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Email Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a25bb254-da77-4402-a269-1873d2465a49","triggerCount":0,"tags":[]},{"createdAt":"2024-12-19T07:07:21.754Z","updatedAt":"2024-12-19T23:28:14.919Z","id":"623SuggTB2g3LNyf","name":"Chat Trigger","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[340,0],"id":"7bad4ec9-431d-4b45-80b8-610da04926b0","name":"When chat message received","webhookId":"8217e5e1-02a8-4528-8676-3d3b821351eb"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[740,240],"id":"790e0f7c-2bea-45b2-8752-cc5c0d56eb1a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zbN9gzA7Oqy8J6LT","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[660,0],"id":"34a7f402-a789-47da-9de4-5b7cb2e16b70","name":"Basic LLM Chain"}],"connections":{"When chat message received":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d7fbda88-3cb0-4400-a035-c2716cb42bb4","triggerCount":0,"tags":[]},{"createdAt":"2024-12-19T07:27:45.028Z","updatedAt":"2024-12-20T00:35:11.319Z","id":"M9BZbT0w3b8Mr1i0","name":"Email Agent","active":false,"nodes":[{"parameters":{},"id":"c055762a-8fe7-4141-a639-df2372f30060","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,320]},{"parameters":{"assignments":{"assignments":[{"id":"e3a19964-d5fb-44e3-a9c2-cd47c98912eb","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,320],"id":"ed0d7bc9-857d-48fd-8d2d-cccf7c014314","name":"Response"},{"parameters":{"sendTo":"={{ $fromAI(\"email\", \"email address to send to\") }}","subject":"={{ $fromAI(\"subject\", \"subject of email\") }}","message":"={{ $fromAI(\"message\", \"body of email\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[700,600],"id":"2020e2d4-322f-4abb-99a1-5bf3f4b38f10","name":"Send Email","webhookId":"ede80be2-9351-49c6-b97b-e29b39c27f3a","credentials":{"gmailOAuth2":{"id":"IxMb6wyTIokmowGg","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"You are a helpful email assistant.  \n\nYou can use tools to: send emails, get emails, and lookup email addresses.\n\nWhen there are more than 1 emails, ask for clarity on which email to use and show the options."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[500,320],"id":"1ae8035a-8048-4732-95de-51cd106bdc35","name":"Email Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[480,600],"id":"4ca68360-007e-4ab9-ae25-b864a9c9c7d2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"zbN9gzA7Oqy8J6LT","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"getAll","limit":"={{ $fromAI(\"limit\", \"how many emails to get\") }}","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[840,600],"id":"d4e88b3c-32c4-4361-9c07-70fdfb5b7b1a","name":"Get Gmail","webhookId":"4a841323-4bee-49b6-becf-7e8f7a3ffe6c","credentials":{"gmailOAuth2":{"id":"IxMb6wyTIokmowGg","name":"Gmail account"}}},{"parameters":{"name":"Get_Email_Address","description":"Use this tool when you need an email address","workflowId":{"__rl":true,"value":"HixtbVdDqmWbLxbZ","mode":"list","cachedResultName":"Get Email Address"}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[980,600],"id":"c3855b37-db77-471a-9c81-aafac7bd763e","name":"Get Email Address"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Email Agent","type":"main","index":0}]]},"Send Email":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Email Agent":{"main":[[{"node":"Response","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Email Agent","type":"ai_languageModel","index":0}]]},"Get Gmail":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Get Email Address":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Execute Workflow Trigger":[{"json":{"query":"send an email to bob to let him know it's all good"}},{"json":{"query":"send an email to rick to let him know it's all good"}}]},"versionId":"d2acbc64-dc49-43ef-b043-31f780efe7cc","triggerCount":0,"tags":[]}]